<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="InventorySqlServer"
         connectionString="Server=LAPTOP-TAKL7QQE\SQLEXPRESS;Database=InventoryDB;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
    <add name="InventorySqlite"
         connectionString="Data Source=inventory.db"
         providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseProvider" value="SqlServer" />
    <add key="ApplicationName" value="Inventory Management System" />
    <add key="DefaultLowStockThreshold" value="10" />
    <add key="DefaultPageSize" value="25" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.6" newVersion="4.6.1.6" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
